body {
    background-color: #f7c100;
    color: #020202;
    text-align: center;
    margin: 210px 0;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", "sans-serif";
}

h1 {
    color: #000000;
    font-size: xxx-large;
}

span {
    color: #ff0000;
}
/*.container {
    height: 35vh;
    width: 32vw;
    border: 2px solid #ffffff;
    background-color: #c23820;
    border-radius: 20px;
    margin: 2vw auto;
    padding: 35px;
    box-shadow: #0000ff;
    font-weight: 700;
    color: white;
}*/

button {
    border-radius: 25px;
    font-weight: 700;
    width: 15vw;
    height: 4vh;
    border: hidden;
    background-color: #fc0000;
    color: #fff;
}
button:hover {
    background-color: #000;
    color: white;
}

#btuInput {
    text-align: center;
    height: 4vh;
    width: 15vw;
    border: 1px solid #c3a603;
    border-radius: 25px;
    font-weight: 600;
}

#result {
    color: #d50404;
    font-size: large;
    font-weight: 700;
    display: block;
    margin: 16px;
    justify-content: center;
}
